<div class="hero">
    <div class="container">
        <h1>You're going to find</h1>
        <input type="text" data-role="input">
        <button class="button success">Search</button>
    </div>
</div>