<a href="/list/add">
  <button class="fab-button action-button bg-grayMouse fg-white">
    <span class="icon"><span class="mif-plus"></span></span>
  </button>
</a>
<div class="list-root">
<h1>Hello</h1>
  <%= current_user.annonces %>
</div>