// Place all the styles related to the listing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list {
  &-root {
    margin-top: 75px;
  }
  &-title {
    margin-bottom: 15px;
  }
  &-right {
    width: 80%;
  }
  .img-preview {
    width: 256px
  }
}

.fab-button {
  z-index: 1030;
  position: fixed;
  right: 2vw;
  bottom: 2vw;
}

.no-margin {
  margin: 0 !important;
}

.no-border {
  border: none !important;
}

.detail {
  padding-top: 52px;
  margin-left: 20vw;
  margin-right: 20vw;
}