<div data-role="appbar" data-expand-point="md" class="d-flex flex-justify-end">
    <a href="#" class="brand no-hover place-left">
        <h3 class="p-2">
            Listings
        </h3>
    </a>

    <ul class="app-bar-menu ml-auto mr-5">
        <button class="button secondary mr-5"><span class="mif-chevron-right"></span>Login</button>
        <div class="dropdown-button mr-5">
            <button class="button dropdown-toggle">EN</button>
            <ul class="d-menu" data-role="dropdown">
                <li><a href="#">FR</a></li>
            </ul>
        </div>
        <button class="button success">Create my Listing</button>
    </ul>
</div>